/*
Some details element styling tips
https://stackoverflow.com/questions/10813581/can-i-replace-the-expand-icon-of-the-details-element
*/


summary {
    padding: 0;
}



details > summary {
    list-style-type: none;
}
details > summary:hover {
    background-color: lightblue;
}
details > summary::-webkit-details-marker {
    display: none;
}





details {
    border: 1px solid gray;
    border-radius: 0.2rem;
    padding: 0rem;
    padding-left: 2rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}